asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
Django==6.0.2
gunicorn==25.3.0
idna==3.11
packaging==26.0
psycopg[binary]==3.3.2
python-dotenv==1.2.2
requests==2.33.1
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
whitenoise==6.11.0
